.container {
    width: 75%;
    height: 100vh;
    background-color: rgb(253, 253, 253);
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    position: relative;
    padding-left: 5%;
}
.containerCoins {
    height: 90vh;
    width: 90%;
    overflow-y: scroll;
    border: 1px solid gray;
    position: relative;
}
.containerCoins::-webkit-scrollbar {
    -webkit-appearance: none;
}
.containerCoins::-webkit-scrollbar:vertical {
    width:10px;
}
.containerCoins::-webkit-scrollbar-thumb {
    background-color: #a7a7a7;
    border-radius: 20px;
    border: 1px solid #c8cacc;
}

.containerCoins2 {
/*     display: flex;
    flex-direction: row; */
}
.containerOneCoin {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.titleCoin {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.title {
    font-weight: 100;
    font-size: 6rem;
    padding: 0;
    margin: 0;
    color: #797979;
}
.subtitle {
    font-weight: 100;
    background-color: rgb(0, 0, 0);
    color: rgb(211, 211, 211);
    padding: .9rem 1.5rem 0 1.5rem;
    border-radius: .9rem .9rem 0 0 ;
    margin: 0;
    position: relative;
}
.input {
    position: relative;
    margin-top: 3rem;
    margin-bottom: 1rem;
    width: 85%;
    height: 1.75rem;
    padding-right: 3rem;
    padding-left: 1rem;
    border: 2px solid gray;
    border-radius: .25rem;
}
.button {
    position: absolute;
    right: 2.9rem;
    top: 3.3rem;
    border: 1px solid transparent;
    background-color: transparent;
    font-size: 1.2rem;
}
.monedas {
    display: flex;
    justify-content: flex-start;
}
